body {
	margin: 0;
	font-family: "Helvetica Neue", sans-serif;
	color: #eee;
	text-shadow: 1px 1px 3px #888;
	font-weight: 500;
	background-color: #f1f1f1;
	display: flex;
	align-items: center;
	height: 100vh;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

article {
	width: 90%;
	max-width: 700px;
	background-color: #fff;
	padding: 0.7em;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2px;
	box-shadow: 1px 1px 5px #aaa;
}

.grupprummet {
	background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #3f4c6b, #606c88);
    background: -o-linear-gradient(left, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hubben {
	background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #3a7bd5, #00d2ff);
    background: -o-linear-gradient(left, #3a7bd5, #00d2ff);
    background: linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hasen {
	background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #182848, #4b6cb7);
    background: -o-linear-gradient(left, #182848, #4b6cb7);
    background: linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	font-size: 2.5rem;
	border-bottom: 1px solid rgba(230,230,230,0.5);
	width: 60%;
	text-align: center;
	padding-bottom: 7px;
	margin-bottom: 40px;
	margin-top: 0;
}

h2 {
	font-size: 1.5rem;
	margin: 0;
}

h3 {
	font-size: 1.9rem;
	margin: 0;
}

p {
	font-size: 1.5rem;
}

time {
	font-size: 2rem;
}

div {
	text-align: center;
	padding: 30px 0;
}