body {
	margin: 0;
	display: flex;
	align-items: center;
	color: #444;
	background-color: #f1f1f1;
	font-family: "Helvetica Neue", sans-serif;
	height: 100vh;
}

main {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

article {
	width: 300px;
	height: auto;
	padding: 1em;
	margin: 15px 2%;
	border-radius: 0.1em;
	background-color: #fff;
	box-shadow: 1px 1px 5px #aaa;
}						

h1 {
	margin: 0 auto;
	text-align: center;
	font-weight: 300;
	font-size: 1.5rem;
}

dt {
	font-weight: 600;
	font-size: 1.2rem;
}

.allergens {
	font-size: 1rem;
	font-weight: 300;
}

.allergens::before {
	content: "- ";
}

dd {
	margin-bottom: 7px;
	margin-left: 0;
	font-size: 1rem;
}