<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="css/chalmers-it-style.css">
</head>
<body>
    % for item in items:
        <article>
        	<h1>${item['title']}</h1>
        	${item['description']}
        </article>
    % endfor
    <script type="text/javascript">
        Array.from(document.querySelectorAll('img')).forEach(el => {
            el.src = el.src.replace('file://', 'https://chalmers.it')
        });
    </script>
</body>
</html>