<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="css/lunch.css">
</head>
<body>
    <main>
     	% for rest in restaurants:
            <article>
            	<h1>${rest['name']}</h1>
            	<dl>
            		% for meal in rest['meals']['sv']:
            			<dt>${meal['title']} <span class="${'allergens' if meal['allergens'] is not None and len(meal['allergens']) > 0 else ''}">${', '.join(meal['allergens'] if meal['allergens'] else [])}</span></dt>
            			<dd>${meal['summary']}</dd>
            		% endfor
            	</dl>
            </article>
        % endfor
    </main>
</body>
</html>